name: PR_test
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - edited
    branches:
      - main
  workflow_dispatch:
  
jobs:
  read_env:
    env:
      local: ${{ vars.local }}
      supersecret: ${{ secrets.supersecret }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Read environment variable
        run: |
          echo ${{ vars.local }}
          echo ${{ secrets.supersecret }}
